@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  padding: clamp(1rem, 5vw, 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  align-items: center;
  width: 100%;
  max-width: 420px;
  min-height: 500px;
  
  background: linear-gradient(145deg, #1f1f1f, #2b2b2b);
  border-radius: 28px;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.4),
    0 8px 16px rgba(0, 0, 0, 0.25);
}

h1 {
  font-size: 2.4rem;
  color: rgb(238, 237, 237);
  margin: 0 auto 1.5rem;
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.task-input {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
}

.add-btn {
  border: none;
  padding: 0 1.25rem;
  border-radius: 2rem;
  background-color: white;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
}

.add-btn:hover {
  background-color: rgb(237, 235, 235);
}

.taskList {
  margin: 1.5rem 0;
  width: 100%;
}

.completed {
  text-decoration: line-through;
  color: rgb(246, 255, 0);
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

li span {
  font-size: 15px;
  font-weight: 500;
  flex: 1;
}

li button {
  flex-shrink: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.clearCompleted {
  margin-top: auto;
  border: none;
  padding: 0.8rem 1.25rem;
  border-radius: 2rem;
  background-color: white;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
}

.clearCompleted:hover {
  background-color: rgb(237, 235, 235);
}

li button img {
  width: 16px;
  height: 16px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  .app {
    border-radius: 20px;
  }

  .input {
    flex-direction: column;
    gap: 0.75rem;
  }

  .add-btn {
    width: 100%;
    padding: 0.75rem;
  }

  li span {
    font-size: 14px;
  }
}